<header class="gen-header gen-header--overlap gen-header--white">
    <div class="gen-container--fluid">
    <div class="gen-header__inner">
        <div class="gen-header__left">
        <div class="gen-header__logo">
            <a href="#">
            <img src="{{ 'logo.svg' | asset_ url }}" alt>
            </a>
        </div>
        </div>
        <div class="gen-header__center">
        <div class="gen-header__menu">
            <ul class="gen-menu">
            <li
                class="gen-menu__item gen-menu__item--parent gen-menu__item--mega">
                <a href="#" class="gen-menu__link--main">
                Home
                <span class="gen-menu__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11"
                    height="6" viewBox="0 0 11 6" fill="none">
                    <path d="M1.28003 1L5.28003 5L9.28003 1"
                        stroke="#7C99A9" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                </span>
                </a>
                <div class="gen-mega-menu">
                <div class="gen-mega-menu__container gen-container--fluid">
                    <div class="gen-mega-menu__inner gen:w-full">
                    <ul class="gen-sub-menu gen-sub-menu--level-1 gen-sub-menu--grid gen:grid-cols-5 gen:gap-30">
                                            {% for link in linklists.main-menu.links -%}
                        {{ link.title | link_to: link.url }}
                    {%- endfor %}
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#">
                            <img src="{{ 'homepage-thumb.jpg' | asset_url }}" alt>
                        </a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#">
                            <img src="../imgs/homepage-thumb.jpg" alt>
                        </a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#">
                            <img src="../imgs/homepage-thumb.jpg" alt>
                        </a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#">
                            <img src="../imgs/homepage-thumb.jpg" alt>
                        </a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#">
                            <img src="../imgs/homepage-thumb.jpg" alt>
                        </a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#">
                            <img src="../imgs/homepage-thumb.jpg" alt>
                        </a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#">
                            <img src="../imgs/homepage-thumb.jpg" alt>
                        </a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#">
                            <img src="../imgs/homepage-thumb.jpg" alt>
                        </a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#">
                            <img src="../imgs/homepage-thumb.jpg" alt>
                        </a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#">
                            <img src="../imgs/homepage-thumb.jpg" alt>
                        </a>
                        </li>
                        <li class="gen:text-center gen:col-span-full">
                        <a href="#"
                            class="gen-btn gen-btn--dark gen-rounded--full gen-btn--lg">View
                            all demos (24)</a>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </li>
            <li
                class="gen-menu__item gen-menu__item--parent gen-menu__item--mega">
                <a href="#" class="gen-menu__link--main">
                Shop
                <span class="gen-menu__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11"
                    height="6" viewBox="0 0 11 6" fill="none">
                    <path d="M1.28003 1L5.28003 5L9.28003 1"
                        stroke="#7C99A9" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                </span>
                </a>
                <div class="gen-mega-menu">
                <div class="gen-mega-menu__container gen-container--fluid">
                    <div class="gen-mega-menu__inner">
                    <ul class="gen-sub-menu gen-sub-menu--level-1">
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">shop layout</a>
                        <ul
                            class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                            <li class="gen-sub-menu__item">
                            <a href="#" class="gen-menu__link">Filter left
                                sidebar</a>
                            </li>
                            <li class="gen-sub-menu__item">
                            <a href="#" class="gen-menu__link">Filter right
                                sidebar</a>
                            </li>
                            <li class="gen-sub-menu__item">
                            <a href="#" class="gen-menu__link">Canvas
                                sidebar</a>
                            </li>
                            <li class="gen-sub-menu__item">
                            <a href="#" class="gen-menu__link">Dropdown
                                sidebar</a>
                            </li>
                            <li class="gen-sub-menu__item">
                            <a href="#" class="gen-menu__link">Grid 2
                                columns</a>
                            </li>
                            <li class="gen-sub-menu__item">
                            <a href="#" class="gen-menu__link">Grid 3
                                columns</a>
                            </li>
                            <li class="gen-sub-menu__item">
                            <a href="#" class="gen-menu__link">List view</a>
                            </li>
                        </ul>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">Shop pages</a>
                        <ul
                            class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                            <li class="gen-sub-menu__item">
                            <a href="#" class="gen-menu__link">Collection
                                list</a>
                            </li>
                            <li class="gen-sub-menu__item">
                            <a href="#" class="gen-menu__link">Collection
                                list 2</a>
                            </li>
                            <li class="gen-sub-menu__item">
                            <a href="#" class="gen-menu__link">Panigation
                                page</a>
                            </li>
                            <li class="gen-sub-menu__item">
                            <a href="#" class="gen-menu__link">Load more
                                button</a>
                            </li>
                            <li class="gen-sub-menu__item">
                            <a href="#" class="gen-menu__link">Infinite
                                scrolling</a>
                            </li>
                        </ul>
                        </li>
                    </ul>
                    <div class="gen-mega-menu__content">
                        <div class="gen:grid gen:grid-cols-3 gen:gap-30">
                        <div
                            class="gen-collection-card gen-observed gen-fadeInUp">
                            <div class="gen-collection-card__inner">
                            <a href="#" class="gen-collection-card__img">
                                <figure style="--aspect-ratio: 242/303">
                                <img src="imgs/blazer-header.png" alt>
                                </figure>
                            </a>
                            <div
                                class="gen-collection-card__info gen-collection-card__info--overlap gen-text-center">

                                <div
                                class="gen-collection-card__subtitle gen-text--lg"></div>

                                <h3
                                class="gen-collection-card__title gen-text--lg">
                                <a href="#"></a>
                                </h3>

                                <a href="#"
                                class="gen-btn gen-btn--white gen-rounded--full gen-btn--sm">Blazers</a>
                            </div>
                            </div>
                        </div> <div
                            class="gen-collection-card gen-observed gen-fadeInUp">
                            <div class="gen-collection-card__inner">
                            <a href="#" class="gen-collection-card__img">
                                <figure style="--aspect-ratio: 242/303">
                                <img src="imgs/underwear-header.png" alt>
                                </figure>
                            </a>
                            <div
                                class="gen-collection-card__info gen-collection-card__info--overlap gen-text-center">

                                <div
                                class="gen-collection-card__subtitle gen-text--lg"></div>

                                <h3
                                class="gen-collection-card__title gen-text--lg">
                                <a href="#"></a>
                                </h3>

                                <a href="#"
                                class="gen-btn gen-btn--white gen-rounded--full gen-btn--sm">Underwear</a>
                            </div>
                            </div>
                        </div> <ul
                            class="gen-sub-menu__item gen-sub-menu__item--level-1">
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-1">
                            <a href="#" class="gen-menu__link">Top rate</a>
                            <ul
                                class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                                <li class="gen-sub-menu__product-card">
                                <a href="#"
                                    class="gen-sub-menu__product-card-thumb">
                                    <figure style="--aspect-ratio: 65/82">
                                    <img src="{{ 'product-header-1.png' | asset_url }}"
                                        alt>
                                    </figure>
                                </a>
                                <div
                                    class="gen-sub-menu__product-card-content">
                                    <h3
                                    class="gen-sub-menu__product-card-title">
                                    <a href="#">Frances lady jacket in
                                        maritime tweed</a>
                                    </h3>
                                    <div
                                    class="gen-sub-menu__product-card-price">
                                    $129.95
                                    </div>
                                </div>
                                </li>
                                <li class="gen-sub-menu__product-card">
                                <a href="#"
                                    class="gen-sub-menu__product-card-thumb">
                                    <figure style="--aspect-ratio: 65/82">
                                    <img src="imgs/product-header-2.png"
                                        alt>
                                    </figure>
                                </a>
                                <div
                                    class="gen-sub-menu__product-card-content">
                                    <h3
                                    class="gen-sub-menu__product-card-title">
                                    <a href="#">Slim-fit tuxedo vest in city
                                        crepe</a>
                                    </h3>
                                    <div
                                    class="gen-sub-menu__product-card-price">
                                    $118.00
                                    </div>
                                </div>
                                </li>
                                <li class="gen-sub-menu__product-card">
                                <a href="#"
                                    class="gen-sub-menu__product-card-thumb">
                                    <figure style="--aspect-ratio: 65/82">
                                    <img src="imgs/product-header-3.png"
                                        alt>
                                    </figure>
                                </a>
                                <div
                                    class="gen-sub-menu__product-card-content">
                                    <h3
                                    class="gen-sub-menu__product-card-title">
                                    <a href="#">Cable-knit cardigan
                                        sweater</a>
                                    </h3>
                                    <div
                                    class="gen-sub-menu__product-card-price">
                                    $138.00
                                    </div>
                                </div>
                                </li>
                            </ul>
                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </li>
            <li
                class="gen-menu__item gen-menu__item--parent gen-menu__item--mega">
                <a href="#" class="gen-menu__link--main">
                Products
                <span class="gen-menu__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11"
                    height="6" viewBox="0 0 11 6" fill="none">
                    <path d="M1.28003 1L5.28003 5L9.28003 1"
                        stroke="#7C99A9" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                </span>
                </a>
                <div class="gen-mega-menu">
                <div class="gen-mega-menu__container gen-container--fluid">
                    <div class="gen-mega-menu__inner gen:w-full">
                    <ul class="gen-sub-menu gen-sub-menu--level-1">
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">product
                            layout</a>
                        <ul
                            class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">
                                Default layout
                                <span
                                class="gen-menu-badge gen-menu-badge--hot"
                                style="--badge: &quot;hot&quot;;"></span>
                            </a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">
                                Full width
                                <span
                                class="gen-menu-badge gen-menu-badge--new"
                                style="--badge: &quot;new&quot;;"></span>
                            </a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Full
                                container</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Product
                                detail digital</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Default
                                tab</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Tab
                                accordion</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Open all
                                tab</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Tab accordion
                                inner</a>
                            </li>
                        </ul>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">product
                            features</a>
                        <ul
                            class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Compare
                                color</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Ask a
                                question</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Pickup
                                available</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Share
                                products</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Product
                                pre-orders</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Terms And
                                Conditions</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Product left
                                sidebar</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Product right
                                sidebar</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Product
                                drawer sidebar</a>
                            </li>
                        </ul>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">Product
                            Details</a>
                        <ul
                            class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Real time
                                visitor</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Buy now
                                button</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Swatch
                                images</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Color
                                swatch</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Text
                                swatch</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Swatch
                                radio</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Swatch
                                dropdown</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Trust
                                badge</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Sticky add to
                                cart</a>
                            </li>
                        </ul>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">Thumbnails
                            Position</a>
                        <ul
                            class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Thumbnails
                                left</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Thumbnails
                                right</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Thumbnails
                                bottom</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Default
                                thumb</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">No
                                thumbnails</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Grid 1
                                column</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Grid 2
                                column</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Inner zoom
                                1</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Inner zoom
                                2</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">External
                                zoom</a>
                            </li>
                        </ul>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">Boot Sale</a>
                        <ul
                            class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Countdown
                                timers</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Stock
                                countdown</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Variant image
                                group</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Product
                                sticky</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Frequently
                                bought together</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Advanced
                                Custom Fields</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Size
                                guide</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Dynamic
                                checkout buttons</a>
                            </li>
                        </ul>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">Product Types</a>
                        <ul
                            class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Simple
                                product</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Variable
                                product</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Product
                                3d</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Product
                                video</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Product
                                grouped</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#"
                                class="gen-menu__link">External/Affiliate
                                product</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Product
                                lightbox image</a>
                            </li>
                        </ul>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </li>
            <li
                class="gen-menu__item gen-menu__item--parent gen-menu__item--dropdown">
                <a href="#" class="gen-menu__link--main">
                Blog
                <span class="gen-menu__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11"
                    height="6" viewBox="0 0 11 6" fill="none">
                    <path d="M1.28003 1L5.28003 5L9.28003 1"
                        stroke="#7C99A9" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                </span>
                </a>
                <div class="gen-mega-menu">
                <div class="gen-mega-menu__container">
                    <div class="gen-mega-menu__inner">
                    <ul class="gen-sub-menu gen-sub-menu--level-1">
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">
                            Blog Post
                            <span class="gen-menu__sub-arrow">
                            <svg width="6" height="10" viewBox="0 0 6 10"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 9L5 5L1 1" stroke="#7C99A9"
                                stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                            </span>
                        </a>
                        <ul
                            class="gen-mega-menu__column gen-sub-menu gen-sub-menu--level-2">
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Post
                                Sidebar</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Post One
                                Column</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Post Prallax
                                Image</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Post
                                Sticky</a>
                            </li>
                            <li
                            class="gen-sub-menu__item gen-sub-menu__item--level-2">
                            <a href="#" class="gen-menu__link">Post Simple
                                Title</a>
                            </li>
                        </ul>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">Blog Standard</a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">Blog Grid</a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">Blog Grid mix</a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">Blog List</a>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </li>
            <li class="gen-menu__item">
                <a href="#" class="gen-menu__link--main">
                Lookbook
                </a>
            </li>
            <li
                class="gen-menu__item gen-menu__item--parent gen-menu__item--dropdown">
                <a href="#" class="gen-menu__link--main">
                Pages
                <span class="gen-menu__arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11"
                    height="6" viewBox="0 0 11 6" fill="none">
                    <path d="M1.28003 1L5.28003 5L9.28003 1"
                        stroke="#7C99A9" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                </span>
                </a>
                <div class="gen-mega-menu">
                <div class="gen-mega-menu__container">
                    <div class="gen-mega-menu__inner">
                    <ul class="gen-sub-menu gen-sub-menu--level-1">
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">About Us</a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">Contact Us</a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-12">
                        <a href="#" class="gen-menu__link">Faqs</a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">Faqs 2</a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">Wishlist</a>
                        </li>
                        <li
                        class="gen-sub-menu__item gen-sub-menu__item--level-1">
                        <a href="#" class="gen-menu__link">404 Error</a>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </li>
            <li class="gen-menu__item">
                <a href="#" class="gen-menu__link--main">
                Buy this theme
                </a>
            </li>
            </ul>
        </div>
        </div>
        <div class="gen-header__right">
        <div class="gen-header__icons">
            <a href="#"
            class="gen-header__icon gen-header__icon--search toggle-btn gen-tooltip gen-tooltip--bottom"
            data-target="offcanvasSearch">
            <svg width="18" height="19" viewBox="0 0 18 19" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_12702_34634)">
                <path
                    d="M7.5 14.5C11.0899 14.5 14 11.5899 14 8C14 4.41015 11.0899 1.5 7.5 1.5C3.91015 1.5 1 4.41015 1 8C1 11.5899 3.91015 14.5 7.5 14.5Z"
                    stroke="#1F1F27" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M17 17.5L15 15.5" stroke="#1F1F27"
                    stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                <clippath id="clip0_12702_34634">
                    <rect width="18" height="18" fill="white"
                    transform="translate(0 0.5)" />
                </clippath>
                </defs>
            </svg>
            <div class="gen-tooltip__content">Search</div>
            </a>
            <a href="#"
            class="gen-header__icon gen-header__icon--account gen-tooltip gen-tooltip--bottom">
            <svg width="18" height="19" viewBox="0 0 18 19" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_12702_34638)">
                <path
                    d="M9.12988 7.5C10.7867 7.5 12.1299 6.15685 12.1299 4.5C12.1299 2.84315 10.7867 1.5 9.12988 1.5C7.47303 1.5 6.12988 2.84315 6.12988 4.5C6.12988 6.15685 7.47303 7.5 9.12988 7.5Z"
                    stroke="#1F1F27" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M7 10.5H11C13.76 10.5 16 12.74 16 15.5V17.5H2V15.5C2 12.74 4.24 10.5 7 10.5Z"
                    stroke="#1F1F27" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                <clippath id="clip0_12702_34638">
                    <rect width="18" height="18" fill="white"
                    transform="translate(0 0.5)" />
                </clippath>
                </defs>
            </svg>
            <div class="gen-tooltip__content">Account</div>
            </a>
            <a href="#"
            class="gen-header__icon gen-header__icon--wishlist gen-tooltip gen-tooltip--bottom">
            <svg width="18" height="19" viewBox="0 0 18 19" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                d="M9 4.49964C7 0.499637 1 2.34964 1 6.49964C1 10.6496 4 14.4996 9 17.4996C14 14.4996 17 10.5696 17 6.49964C17 2.42964 11 0.499637 9 4.49964Z"
                stroke="#1F1F27" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <span class="gen-counter">1</span>
            <div class="gen-tooltip__content">Wishlist</div>
            </a>
            <a href="#"
            class="gen-header__icon gen-header__icon--cart gen-tooltip gen-tooltip--bottom">
            <svg width="18" height="19" viewBox="0 0 18 19" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4.5L3 1.5H15L17 4.5H1Z" stroke="#1F1F27"
                stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
                <path
                d="M1 4.5V14.5C1 16.16 2.34 17.5 4 17.5H14C15.66 17.5 17 16.16 17 14.5V4.5"
                stroke="#1F1F27" stroke-width="1.5"
                stroke-linejoin="round" />
                <path
                d="M12 7.5C12 9.16 10.66 10.5 9 10.5C7.34 10.5 6 9.16 6 7.5"
                stroke="#1F1F27" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <span class="gen-counter">4</span>
            <div class="gen-tooltip__content">Cart</div>
            </a>
        </div>
        </div>
    </div>
    </div>
</header> 