<h1>hello freaking world</h1>

{% schema %}
{
  "name": "banner section",
  "settings": [],
  "presets": [{"name": "Default"}],
  "blocks": [],
  "tag": "section",
  "class": "gen-banner",
  "limit": 1
}
{% endschema %}