<div class="swiper gen-swiper-banner">
    <div class="swiper-wrapper">
    <div class="swiper-slide">
        <div class="gen-slide__item">
        <figure class="gen-banner__image" style="--aspect-ratio: 2.084">
            <img src="{{ 'banner-4.jpg' | asset_url }}" alt>
        </figure>
        <div
            class="gen-banner__content gen-banner__content-offset gen-container--fluid">
            <div class="gen-banner__richtext">
            <h2
                class="gen-banner__title gen-text--hero">Spring<br>collection</h2>
            <div class="gen-banner__subtext">Use code BIGSALE50 on
                select sale styles</div>
            <div class="gen-banner__btn">
                <a href="#"
                class="gen-btn gen-btn--dark gen-rounded--full">Load
                more</a>
                <a href="#" class="gen-btn gen-btn--underline">Discover
                now</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="swiper-slide">
        <div class="gen-slide__item">
        <figure class="gen-banner__image" style="--aspect-ratio: 2.084">
            <img src="{{ 'banner-2.jpg' | asset_url }}" alt>
        </figure>
        <div
            class="gen-banner__content gen-banner__content-offset gen-container--fluid">
            <div class="gen-banner__richtext">
            <div class="gen-banner__subtext">Up to 50% off online</div>
            <h2
                class="gen-banner__title gen-text--hero">Lookbook<br>collection</h2>
            <div class="gen-banner__btn">
                <a href="#"
                class="gen-btn gen-btn--dark gen-rounded--full">Load
                more</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="swiper-slide">
        <div class="gen-slide__item">
        <figure class="gen-banner__image" style="--aspect-ratio: 2.084">
            <img src="{{ 'banner-3.jpg' | asset_url }}" alt>
        </figure>
        <div
            class="gen-banner__content gen-banner__content-offset gen-container--fluid">
            <div class="gen-banner__richtext">
            <h2
                class="gen-banner__title gen-text--hero">Spring<br>collection</h2>
            <div class="gen-banner__subtext">Use code BIGSALE50 on
                select sale styles</div>
            <div class="gen-banner__btn">
                <a href="#"
                class="gen-btn gen-btn--dark gen-rounded--full">Load
                more</a>
                <a href="#" class="gen-btn gen-btn--underline">Discover
                now</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="swiper-slide">
        <div class="gen-slide__item">
        <figure class="gen-banner__image" style="--aspect-ratio: 2.084">
            <img src="{{ 'banner-4.jpg' | asset_url }}" alt>
        </figure>
        <div
            class="gen-banner__content gen-banner__content-offset gen-container--fluid">
            <div class="gen-banner__richtext">
            <h2
                class="gen-banner__title gen-text--hero">Spring<br>collection</h2>
            <div class="gen-banner__subtext">Use code BIGSALE50 on
                select sale styles</div>
            <div class="gen-banner__btn">
                <a href="#"
                class="gen-btn gen-btn--dark gen-rounded--full">Load
                more</a>
                <a href="#" class="gen-btn gen-btn--underline">Discover
                now</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="swiper-pagination gen:justify-center"></div>
</div>

{% schema %}
{
  "name": "banner section",
  "settings": [],
  "presets": [{"name": "Default"}],
  "blocks": [],
  "tag": "section",
  "class": "gen-banner",
  "limit": 1
}
{% endschema %}