
<img class="gen-decor-img" src="imgs/homepage-1/decor-img-1.png" alt>
<div class="gen-container--fluid">
    <div class="gen-section__header">
    <h3 class="gen-section__heading gen-observed gen-fadeInUp">Look We
        Love</h3>
    <div class="gen-section__sub-heading gen-observed gen-fadeInUp">Feel
        comfortable in your own skin with Feat Clothing</div>
    </div>
    <div class="gen-section__body">
    <figure
        class="gen-custom-layout__main-img gen-observed gen-fadeInUp"
        data-delay="100" style="--aspect-ratio: 1">
        <img src="{{ 'love-we-look-img-1.jpg' | asset_url }}" alt>
    </figure>
    <div class="gen-custom-layout__content">
        <div class="gen-custom-layout__content-inner">
        <img class="gen-img--watermark gen-observed gen-fadeInUp"
            data-delay="200"
            src="{{ 'love-we-look-watermark.png' | asset_url }}" alt
            width="144">
        <figure
            class="gen-custom-layout__sub-img gen-observed gen-fadeInUp"
            data-delay="300" style="--aspect-ratio: 0.8">
            <img src="{{ 'love-we-look-img-2.jpg' | asset_url }}" alt>
        </figure>
        <p class="gen-text--1 gen-observed gen-fadeInUp"
            data-delay="400">Don't forget to opt into Fashion News to have
            your offers and rewards delivered right to your inbox!</p>
        <p class="gen-text--2 gen-observed gen-fadeInUp"
            data-delay="500">It’s a powerful lady like class with a touch
            of sophisticated sass that creates a sleek and commanding
            presence.</p>
        </div>
    </div>
    </div>
</div>

{% schema %}
{
  "name": "look we love",
  "settings": [],
  "presets": [{"name": "Default"}],
  "blocks": [],
  "tag": "section",
  "class": "gen-section gen-section__custom-layout--1",
  "limit": 1
}
{% endschema %}