<div>
    <div>404</div>
    <div>ssssssssssssssss</div>
</div>

{% schema %}
{
    "name": "not found",
    "presets": [
        {
            "name": "not found"
        }
    ]
}
{% endschema %}