<div class="gen-container--fluid">
    <div class="gen-section__header gen-observed gen-fadeInUp">
    <div class="gen-section__header--product-filter">
        <span>You're looking for</span>
        <div class="gen-dropdown gen-dropdown--bottom    ">
        <button class="gen-dropdown__button">
            <span class="gen-dropdown__button--text">everything</span>
            <div class="gen-dropdown__button--icon">
            <img src="../imgs/icon-chervon-down.svg" alt>
            </div>
        </button>
        <div class="gen-dropdown__menu">
            <div class="gen-dropdown__menu-item">Feature</div>
            <div class="gen-dropdown__menu-item">Best selling</div>
        </div>
        </div> 
        <span>in</span>
        <div class="gen-dropdown gen-dropdown--bottom">
            <button class="gen-dropdown__button">
                <span class="gen-dropdown__button--text">all categories</span>
                <div class="gen-dropdown__button--icon">
                <img src="../imgs/icon-chervon-down.svg" alt>
                </div>
            </button>
            <div class="gen-dropdown__menu">
                <div class="gen-dropdown__menu-item">Bags</div>
                <div class="gen-dropdown__menu-item">Sneaker</div>
                <div class="gen-dropdown__menu-item">Sunglasses</div>
            </div>
        </div> 

        <button class="gen-btn gen-btn--dark gen-rounded--full">Search</button>
    </div>
    </div>
    <div class="gen-section__body">
    <div class="gen:grid gen:grid-cols-4 gen:gap-x-30 gen:gap-y-60">
        {% render 'product-item', product: product %}
    </div> 


{% schema %}
{
"name": "product section",
"settings": [],
"presets": [{"name": "Default"}],
"blocks": [],
"tag": "section",
"class": "gen-section gen-border--bottom-grey",
"limit": 1
}
{% endschema %}