{% section 'banner' %}

<div class="gen-container--fluid">
    <div class="gen:grid gen:grid-cols-4 gen:gap-x-30 gen:gap-y-60">
    {% for product in collections['clothes'].products %}
        {% render 'product-item', product: product %}
    {% endfor %}
    </div>
</div>
